<div class="row" style="padding-top: 50px;">
    <div class="col-2 admin-panel">
        <ul>
            <li>
                <a class="btn" [routerLink]="[ '/admin/admin-category']" routerLinkActive="active">КАТЕГОРІЇ</a>
            </li>
            <li>
                <a class="btn" [routerLink]="[ '/admin/admin-product']" routerLinkActive="active">ПРОДУКТИ</a>
            </li>
            <li>
                <a class="btn" [routerLink]="[ '/admin/admin-ingr']" routerLinkActive="active" >інгридієнти</a>
            </li>
        </ul>
    </div>
    <div class="col-10">
        <router-outlet></router-outlet>
        
    </div>
    <div style="height: 60px;"></div>
</div>