input {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    font-size: 16px;
    height: 54px;
    color: #2D2C2C;
    border: 1px solid #ECECEC;
    background-color: #fff;
    line-height: 51px;
    padding: 0 10px;
    border-radius: 3px;
    transition: 0.25s;
    text-overflow: ellipsis;
}

table {
    width: 100%;

    thead {
        border-bottom: 1px solid #F5F5F5;

        th {
            text-transform: uppercase;
            text-align: left;
            padding-left: 0;
            padding-right: 5px;

        }
    }

    tbody {
        tr {
            border: none;

            td {
                font-size: 14px;
                padding-right: 10px;

                img {
                    max-width: 50%;
                    margin: 0 auto;
                }
            }

        }
    }
}




.input.color {
    width: 80%;
}


.color-preview {
    width: 15%;
    margin: 0 auto;
    height: 54px;

}

.form-check-input {
    margin: 0;
    margin-left: 20px;
    padding: 10px;
    margin-top: 7px;
}


.input:disabled{
    opacity: 0.7;
}


.btn.btn-green {
    color: #FFF;
    background: #599921;
    border: 2px solid #599921;
    border-radius: 6px;
    transition: 0.3s;
}

.btn.btn-green:hover {
    background: #FFF;
    color: #599921;
}

.btn {
    width: 100%;
    margin: 10px auto;
    font-size: 12px!important;
    display: block;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 7px 10px;
    letter-spacing: .15em;
    text-transform: uppercase;
}


.btn.btn-green:disabled{
    opacity: 0.7;
}
.btn.btn-green:disabled:hover{
    opacity: 0.7;
    color: #FFF;
    background: #599921;
}




.btn.btn-wgreen {
    color: #599921;
    background: #FFF;
    border: 2px solid #599921;
    border-radius: 6px;
    transition: 0.3s;
}
.btn.btn-gray {
    color: #FFF;
    background: #DC132B;
    border: 2px solid #DC132B;
    border-radius: 6px;
    transition: 0.3s;
}


.btn-gray:hover{
    color: #DC132B;
    background: #FFF;
}
.btn-wgreen:hover{
    color: #FFF;
    background:#599921 ;
}